@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button {
  @apply px-3 py-2 border-2 rounded-lg hover:bg-white hover:text-black
}

form > button {
  @apply mr-3
}

.button-red {
  @apply px-3 py-2 border-2 border-red-700 rounded-lg hover:bg-red-700 text-red-700 hover:text-black
}


input, textarea {
  @apply w-full p-2 mb-3 bg-transparent text-white border-2 rounded-lg mr-3 placeholder:italic placeholder:text-sm
}

.close-button {
  @apply border-0 p-3
}
